build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
compile_commands.json
Makefile

sdkconfig
sdkconfig.old
sdkconfig.defaults.old

.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/keybindings.json

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.log
*.tmp
*.bak
*.swp
*.swo

*.tar
*.tar.gz
*.tar.bz2
*.img
*.qcow2
*.qcow2c

.cache/
__pycache__/
*.pyc
.env
venv/

.idea/
.settings/
.project
.cproject